:root {
  --bg-col: #f7f7f7;
  --header-col: #e7e7e7;
  --aside-col: #d7d7d7;
  --text-col: #0f0f0f;
  --label-col: #474747;
  --subtext-col: #8f8f8f;
  --button-col: #e7e7e7;
  --border-col: #bfbfbf;
  --tag-col: #4582d3;
  --red-col: #bd2720;
}