/* Styling for components with input fields */
@import './colors.css';
@import './tags.css';

.input-wrapper {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
}

.input-wrapper > input, select, textarea {
  font-size: 24px;
  margin-bottom: 4px;
}

textarea {
  min-height: 84px;
  resize: vertical;
}

label {
  color: var(--label-col);
  font-size: 18px;
  margin-bottom: 2px;
}

.require {
  color: var(--red-col);
}

.input-wrapper button, 
.input-wrapper input[type="submit"]  {
  font-size: 18px;
}

.input-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 8px;
}